*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
header{
    text-align: center;
    background-color: rgb(59, 57, 57);
    margin: 0 70px;
    padding: 30px;
    color: rgb(244, 130, 22);
    font-size: 3rem;
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    width: 50%;
}
header h1{
    margin-bottom: 30px;
}
main{
    text-align: center;
    margin: 0 70px;
    padding: 50px 100px;
    background-color: rgb(59, 57, 57);
    color: rgb(250, 255, 255);
    font-size: 1.5rem;
    line-height: 2.2rem;
}
footer{
    background: #000;
    height: 10vh;
    margin: 0 70px;
    text-align: center;
    color: snow;
    padding: 20px;
}
h2{
    color: rgb(251, 243, 6);
}
#intro, #legacy, #achievements{
    margin-top: 50px;
}
#achievements ul{
    list-style: none;
}
